services:
  backend:
    build: .
    ports:
      - '8080:8080'
    environment:
      - URL_BACKEND=http://localhost:8080
      - URL_FRONTEND=http://localhost:3000
      - MONGODB_URI=mongodb://mongodb:27017/tailsync
    depends_on:
      mongodb:
        condition: service_healthy
    restart: unless-stopped
  mongodb:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=tailsync
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  mongodb_data: